<h2>New User</h2>

<form action="<%= users_url %>" method="POST">

    <!--Authenticity token stuff-->
    <input type="hidden" 
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <button>Submit</button>
    <br>
    <a href="<%= new_session_url %>">Go To Login Page</a>


</form>
